/* Inserta tu codigo aqui */
/*foto principal*/
/*index*/
.imgprincipal{
	/*position: relative;*/
	background: url("../img/dance_1.jpg");
	background-size: 100% 550px;
	height: 400px;
}
.absoluto{
	position: absolute;
	top: 200px;
	left: 110px;
	width: 250px;
}
.bg-textura{
    background-image: url("../img/textura_2.jpg");
    height: 350px;
}

.texto-grande{ font-size: 70px; }
.absoluto p{ margin: 15px 15px 40px auto;font-size: 15px;}
.absoluto a{ padding: 10px 50px; background: #C4C6C3; font-size: 15px;color:#192951;
	border-radius: 20px;font-weight: bold; }
.absoluto a:hover{border: 2px solid #192951;}

/*Oferta de clases*/
.clases p{font-size: 25px; margin: 70px 23% auto;}
.clases button{ padding: 20px 9%; font-size: 18px;background: #1A2952;border-radius: 10px;}

/*instructores*/
.instructores div{ padding:0; }
.instructores p{ padding: 30px 18%; font-size: 30px; bottom: 0; }



/*sirven*/
.color-hueso{ color: #C4C6C3; }
.relative{	position:  relative;}
.bg-blue{	background-color: rgb(25, 41, 81);}

.abso-p{
	position: absolute;
	float: center;

}
.bg-contactanos{
	background: url("../img/shoes_1.jpg") right no-repeat;
	height: 500px;
}
.input{
	display: block;
	border: 1px solid gray;
}
/*Oferta de clases*/
.clases p{font-size: 25px; margin: 70px 23% auto;}
.clases button{ padding: 20px 9%; font-size: 18px;background: #1A2952;border-radius: 10px;}

/*instructores*/
.instructores div{ padding:0; }
.instructores p{ padding: 25px 18%; font-size: 30px; }
.instructores div:last-child{ bottom: 0; left: 31%;}

/*lema*/
.lema p{ font-size: 50px; padding: 50px; margin: 3% 20%;}

/*visitanos*/
.visitanos div:first-child{ padding: 5% 5% 5% 8%; text-align: justify; }
.visitanos h3{ margin: 8% auto 1%; }
.visitanos iframe{ margin: 8% 15% 5%; }

